* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	box-sizing: border-box;
}
h1{
	color: #fff;
}
.delete-button {
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: #dc3545;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: #fff;
  }
  
  .delete-button:hover {
	background-color: #c82333;
  }
  
  .delete-button:focus,
  .delete-button.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  
  .delete-button:active,
  .delete-button.active {
	background-color: #bd2130;
	border-color: #b21f2d;
  }
  
table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	color: #000;
  }
  td{
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  th {
	background-color: #f2f2f2;
  }
  tr{
	color: #ccc;

  }
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #ccc;
  }
  
  #sidebar {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	padding: 20px;
  }
  
  #sidebar img {
	width: 100%;
	margin-bottom: 20px;
  }
  
  #sidebar h3 {
	color: white;
  }
  
  #sidebar .sidebar-link {
	display: block;
	margin-bottom: 10px;
	color: white;
  }
  
  #sidebar .sidebar-link:hover {
	text-decoration: none;
	color: #ccc;
  }
  
  #content {
	margin-left: 250px;
	padding: 20px;
  }

body {
	min-height: 100vh;
	background-image: url('../image/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	background-color: #000;
}

.sidebar {
	width: 120px;
	height: 100vh;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	background: rgba(10, 10, 10, .65);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border-right: 2px solid rgba(255, 255, 255, .09);
	transition: .4s ease-in-out;
}

.sidebar.open {
	width: 360px;
}

.sidebar .logo {
	width: 100%;
	padding: 30px 0 20px 0;
	display: grid;
	align-items: center;
	justify-items: center;
}

.sidebar .logo img {
	width: 95px;
	transition: .4s;
}

.sidebar.open .logo img {
	width: 200px;
}

.sidebar .nav-title {
	color: #dadada;
	margin: 40px 0 18px;
	pointer-events: none;
	opacity: 0;
}

.sidebar.open .nav-title {
	opacity: 1;
	transition: .4s;
	transition-delay: .2s;
}

.sidebar nav {
	padding: 0 30px;
}

.sidebar nav .nav-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 4px;
	width: 100%;
	height: 56px;
	padding: 0 16px;
	margin: 8px 0;
	color: #fff;
	transition: .3s;
}

.sidebar nav .nav-item.active {
	background: #2a44e3 !important;
}

.sidebar nav .nav-item:hover {
	background: #2a44e37a;
}

.sidebar nav .nav-item i {
	font-size: 25px;
}

.sidebar nav .nav-item span {
	font-size: 18px;
	margin-left: 8px;
	opacity: 0;
	pointer-events: none;
}

.sidebar.open nav .nav-item span {
	opacity: 1;
	pointer-events: visible;
	transition: .4s;
	transition-delay: .2s;
}

.sidebar hr {
	width: 100%;
	height: 2px;
	border-radius: 3px;
	margin: 20px 0 20px;
	background: rgba(255, 255, 255, .1);
	opacity: 0;
}

.sidebar.open hr {
	opacity: 1;
	transition: .4s;
}

.sidebar .toggle {
	cursor: pointer;
    position: absolute;
    color: #fff;
    top: 30px;
    right: -20px;
    font-size: 38px;
    line-height: 50%;
    text-align: center;
    border-radius: 50%;
    padding: 8px 10px 8px 15px;
    background: linear-gradient(90deg, transparent 50%, rgba(10, 10, 10, .65) 50%);
}

.sidebar.open .toggle {
	transform: translateY(25px);
}

.sidebar .toggle i {
	transition: .4s linear;
	font-size: 22px;
}

.sidebar.open .toggle i {
	transform: rotateY(180deg);
}

ul.social {
    text-align: center;
}

.sidebar.open ul.social {
    text-align: left;
}

ul.social i {
    color: #fff;
    margin: 0 20px 20px 0;
    font-size: 25px;
	cursor: pointer;
}

ul.social i:hover {
    color: #2a44e3;
}