.active {
    color:#00ADB5;
}

.logout_btn{
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.logout_btn:hover{
  scale:1.05;
  color:#fff
}

.logout_btn:active{
  scale: 0.95;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid black;
    background-color: #D9D9D9;
    border-radius: 10px;
  }
  
  .container-2 {
    width: 90%;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid black;
    background-color: #D9D9D9;
    border-radius: 10px;
  }

  .image-container img {
    width: 50%;
    max-width: 100%;
    height: auto;
  }
  
  .description-1 {
    padding-left: 50px;
  }
  
  .image-container-2 {
    text-align: center;
  }
  
  .image-container-2 img {
    max-width: 60%;
    height: auto;
  }
  
  .description-3 {
    text-align: center;
    padding-left: 30%;
  }
  
  .description-3 p:first-child {
    margin-bottom: 5px;
  }
  
  .description-3 p {
    font-weight: bold;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  

  .footer {
    margin-top: 40px;
    display: flex ;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    margin-top: auto;
  }
  
  .column {
    flex-basis: 25%;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  ul li a i {
    margin-right: 5px;
  }

  
  
  /* Add font-awesome CSS link in your HTML file for social media icons */
  
  
  
  /* Mobile Responsive */
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
  }
