.active {
    color:#00ADB5;
}
.delete-button {
  /* Apply Bootstrap button styles */
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.edit-button {
  /* Apply Bootstrap button styles */
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.logout_btn{
    background-color: #00ADB5;
    color: #fff;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
#preview {
    max-width: 100%;
    max-height: 200px; /* Set a maximum height if desired */
  }
  .disimage{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid black;
    background-color: #D9D9D9;
    border-radius: 10px;
  }
  .card-img-top{
    width: 100%;
    height: 200px;
  }
  
  .container-2 {
    width: 90%;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid black;
    background-color: #D9D9D9;
    border-radius: 10px;
  }

  .image-container img {
    width: 50%;
    max-width: 100%;
    height: auto;
  }
  
  .description-1 {
    padding-left: 50px;
  }
  
  .image-container-2 {
    text-align: center;
  }
  
  .image-container-2 img {
    max-width: 80%;
    height: auto;
  }
  
  .description-3 {
    text-align: center;
    padding-left: 20%;
  }
  .modal{
    width: 800px;
  }
  
  .description-3 p:first-child {
    margin-bottom: 5px;
  }
  
  .description-3 p {
    font-weight: bold;
  }
  .add-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }

  .btn {
    position: flex;
  }

  .footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
  }
  .col{
    width: 300px;
  }
  .column {
    flex-basis: 25%;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  ul li a i {
    margin-right: 5px;
  }
  
  /* Add font-awesome CSS link in your HTML file for social media icons */
  
  
  
  /* Mobile Responsive */
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
    .description-3 {
        text-align: center;
        padding-left: 10px;
        padding-right: 20%;
      }
  }
  
  