*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans',sans-serif;
}

.class1 {
  height:100vh;
  background-color: #000;
  background-image: url(https://media.istockphoto.com/photos/delivery-man-holding-parcel-boxes-and-ring-the-doorbell-on-the-door-picture-id1182778655?k=20&m=1182778655&s=612x612&w=0&h=4PqFvEmJ8Kdwby-EKsa3eAADGFs25OEKXVISdU-ZLXU=);
  background-size: cover;
  background-position: center;
}
.class3 {
  display: flex;
}

.one{
  height:100vh;
  background-color: #000;
  background-image: url(https://unblast.com/wp-content/uploads/2020/10/Fast-Delivery-Vector-Illustration.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}
.two{
  height:100vh;
  background-color: #fff;
 
  background-size: cover;
  background-position: center;
  width: 50%;
}

.class2{
  height:100vh;
  background-color: #000;
  background-image: url(https://thumbs.dreamstime.com/b/delivery-courier-parcel-front-blurred-background-digital-composite-95081785.jpg);
  background-size: cover;
  background-position: center;
}

.class4 {
  display: flex;
}

.three{
  height:100vh;
  background-color: #fff;
 
  background-size: cover;
  background-position: center;
  width: 50%;
}
.four{
  height:100vh;
  background-color: #fff;
  background-image: url(https://www.svgrepo.com/show/308330/secure-delivery-delivery-truck-guaranteed-delivery-insured-delivery.svg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

.class5  {
  display: flex;
}

.five{
  height:100vh;
  background-color: #fff;
  background-image: url(https://cdn.dribbble.com/users/508588/screenshots/11997497/media/8bf218e91d16aa689a3ff28052f00617.jpg?compress=1&resize=400x300&vertical=top);
  background-size: cover;
  background-position: center;
  width: 50%;
}
.six{
  height:100vh;
  background-color: #fff;
 
  background-size: cover;
  background-position: center;
  width: 50%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:#fff;
  font-size: 1rem;
}

a:hover{
  color: orange;
}

/* Header */
header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width:100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale:1.05;
  color:#fff
}

.action_btn:active{
  scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: rgb(255, 255, 255,0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*responsive design*/
@media (max-width: 992px){
  .navbar .links,
  .navbar .action_btn{
      display: none;
  }

  .navbar  .toggle_btn{
      display: block;
  }

  .dropdown_menu{
      display:block;
  }
}

@media (max-width: 576px){
  .dropdown_menu{
      left:2rem;
      width:unset;
  }
}
/*hero*/
section#hero{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:black;
}
#hero h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
header{
  background-color: #000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"] {
    width: 400px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    width: 500px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  






  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans',sans-serif;
}

.class1 {
    height:100vh;
    background-color: #000;
    background-image: url(https://media.istockphoto.com/photos/delivery-man-holding-parcel-boxes-and-ring-the-doorbell-on-the-door-picture-id1182778655?k=20&m=1182778655&s=612x612&w=0&h=4PqFvEmJ8Kdwby-EKsa3eAADGFs25OEKXVISdU-ZLXU=);
    background-size: cover;
    background-position: center;
}
.class3 {
    display: flex;
}

.one{
    height:100vh;
    background-color: #000;
    background-image: url(https://unblast.com/wp-content/uploads/2020/10/Fast-Delivery-Vector-Illustration.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.two{
    height:100vh;
    background-color: #fff;
   
    background-size: cover;
    background-position: center;
    width: 50%;
}

.class2{
    height:100vh;
    background-color: #000;
    background-image: url(https://thumbs.dreamstime.com/b/delivery-courier-parcel-front-blurred-background-digital-composite-95081785.jpg);
    background-size: cover;
    background-position: center;
}

.class4 {
    display: flex;
}

.three{
    height:100vh;
    background-color: #fff;
   
    background-size: cover;
    background-position: center;
    width: 50%;
}
.four{
    height:100vh;
    background-color: #fff;
    background-image: url(https://www.svgrepo.com/show/308330/secure-delivery-delivery-truck-guaranteed-delivery-insured-delivery.svg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.class5  {
    display: flex;
}

.five{
    height:100vh;
    background-color: #fff;
    background-image: url(https://cdn.dribbble.com/users/508588/screenshots/11997497/media/8bf218e91d16aa689a3ff28052f00617.jpg?compress=1&resize=400x300&vertical=top);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.six{
    height:100vh;
    background-color: #fff;
   
    background-size: cover;
    background-position: center;
    width: 50%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width:100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale:1.05;
    color:#fff
}

.action_btn:active{
    scale: 0.95;
}

/* /dropdown menu/ */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* /responsive design/ */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar  .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }
}
/* /hero/ */
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
header{
    background-color: #000;
}